* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.board-row {
  display: flex;
}

.square {
  font-size: 2em;
  width: 100px;
  height: 100px;
  margin: 4px;
  border: 2px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

.status {
  margin-bottom: 20px;
  font-size: 1.5em;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
